body{
    margin:0px

}
h1{
    text-align: center;
    background-color: yellow;
    padding: 1rem 0.5rem 1rem 0rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
img{
    height: 20%;
    width: 80%;
}
textarea{
    display: block;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin:1rem 0.5rem 1rem 0.5rem ;
}
#btn{
    background-color: yellowgreen;
    height: 50px;
    width: 180px;
    color: whitesmoke;

}